/* Sequoia Sequoia Moonlight Light for Prism.js */
code[class*="language-"],
pre[class*="language-"] {
  color: #282930;
  background: #edeef2;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #565760;
  font-style: italic;
}
.token.keyword, .token.atrule, .token.tag, .token.selector {
  color: #4a85d4;
}
.token.string, .token.char, .token.attr-value {
  color: #6a6a78;
}
.token.function, .token.class-name {
  color: #c94da8;
  font-style: italic;
}
.token.number, .token.boolean, .token.constant {
  color: #4a85d4;
}
.token.operator, .token.punctuation {
  color: #42434e;
}
.token.variable {
  color: #d9884a;
  font-style: italic;
}
.token.property, .token.builtin {
  color: #9a5fd9;
}
.token.deleted {
  color: #c94da8;
}
